#!/usr/bin/env python
PACKAGE = "mocap_localization"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("world2map_x", double_t, 0, "X offset of the world to map transform", -4.4681, -10, 0)
gen.add("world2map_y", double_t, 0, "Y offset of the world to map transform",    -9.064, -20, 0)
gen.add("world2map_z", double_t, 0, "Z offset of the world to map transform",    -1.005, -10, 0)
gen.add("world2map_roll", double_t, 0, "X rotation of the world to map transform (radians)",    0, 0, 7)
gen.add("world2map_pitch", double_t, 0, "Y rotation of the world to map transform (radians)",    0, 0, 7)
gen.add("world2map_yaw", double_t, 0, "Z rotation of the world to map transform (radians)",    0, 0, 7)

gen.add("gt2footprint_x", double_t, 0, "X offset of the base ground truth to base footprint",    0.007547, -1, 1)
gen.add("gt2footprint_y", double_t, 0, "Y offset of the base ground truth to base footprint",    0.019362, -1, 1)
gen.add("gt2footprint_z", double_t, 0, "Z offset of the base ground truth to base footprint",    0.182640, -1, 1)
gen.add("gt2footprint_roll", double_t, 0, "X rotation of the base ground truth to base footprint (radians)",    0, 0, 7)
gen.add("gt2footprint_pitch", double_t, 0, "Y rotation of the base ground truth to base footprint (radians)",    0, 0, 7)
gen.add("gt2footprint_yaw", double_t, 0, "Z rotation of the base ground truth to base footprint (radians)",    0, 0, 7)

exit(gen.generate(PACKAGE, "mocap_localization", "MocapLocalization"))